body{
background-color: #3E517A ;
color: #8EE3F5;
font-family: "Story Script", sans-serif;
}

nav{
padding: 5px;
line-height: 30px;
color: #8EE3F5;
}

a:link{
    color:#8EE3F5;
    text-decoration: none;
}

a:visited{
    color: #A799B7;
    text-decoration: none;
}

footer{
    position: fixed;
bottom: 0;
text-align: center;
}

header{
    text-align: center;
}
img{
    width: 200px;
    position: absolute;
    left: 25%;
    top: 25%;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

