body{
background-color: #3E517A ;
color: #8EE3F5;
font-family: "Story Script", sans-serif;
line-height: 2;
}

nav{
padding: 5px;
line-height: 30px;
color: #8EE3F5;
}

nav a{
    background-color: #27213C;
    padding: 5px 10px;
    border-radius: 10px;
}

a:link{
    color:#8EE3F5;
    text-decoration: none;
}

a:hover{
    background: #3a0307;
    padding: 5px;
    text-decoration: underline;
}

a:visited{
    color: #A799B7;
    text-decoration: none;
}

footer{
    position: fixed;
bottom: 0;
text-align: center;
}

header{
    text-align: center;
}
img{
    width: 400px;
    position: absolute;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button{
    color: #A799B7;
    background-color: #3a0307;
    border-color: #8EE3F5;
}

/*Table code*/

table, th, td{
    border: 2px solid #3a0307;
    max-width: 400px;
    /*multiple borders in same araea will collapse into single border*/
    border-collapse: collapse;
    text-align: center;
}

caption{
    color:#A799B7;
}

tr, th, td{
    padding: 10px;
}

tr:nth-child(even){
    color:#8EE3F5;
    background-color: #27213C;
}

tr:nth-child(odd){
    color:#27213C;
    background-color: #8EE3F5;
}

th{
    color:#A799B7;
    background-color: #3a0307;
}

tr:hover{
    background: #A799B7;
    color: #3a0307;
    text-decoration: underline;
}